@model Curso

@{
    ViewData["Title"] = "Información Curso";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.MensajeCursoCreado</h2>
<strong>Desde la vista normal</strong>
<p>
    Curso: @Model.Nombre <br/>
    Id: @Model.Id
</p>

<strong>Desde la vista parcial</strong>
<partial name="_ObjetoEscuelaSimple"/>

<p>@ViewBag.Fecha</p>